<div class="uw-row-full uw-pad-tb-l">
  <div class="uw-row">
    <div class="uw-col uw-body">
      <h1><%= @heading %></h1>

      <%= @body %>
      <br />
      <table>
        <tr>
          <th>Category</th>
          <th>Name</th>
        </tr>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.top_category %></td>
            <td><%= category.name %></td>
            <td>
              <% category.questions.each do |question| %>
                  <%= question.text %><br/>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

